
# ignore xcodeproj 
yingwo.xcodeproj/project.xcworkspace/xcshareddata
yingwo.xcodeproj/project.xcworkspace/xcuserdata
yingwo.xcodeproj/xcuserdata

# ignore DS_Store 
.DS_Store

# ignore cocoaPods 
/Pods